*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.header {
  height: 80px;
  background-color: lightblue;
  backdrop-filter: blur(4px);
}
.header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .main-menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.header .main-menu ul li a {
  color: tomato;
}
.header .main-menu ul li a:hover {
  color: #ff3814;
}

.hamb-wrap {
  display: none;
}

.hamb-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  background: none;
}
.hamb-btn span {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 6px;
}
.hamb-btn span::before, .hamb-btn span::after {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 2px;
  position: absolute;
  left: 0;
}
.hamb-btn span::before {
  top: 10px;
}
.hamb-btn span::before {
  top: 25px;
}

@media screen and (max-width: 660px) {
  .main-menu {
    display: none;
  }

  .hamb-wrap {
    display: block;
  }
}