$color-font: #232323;

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin fz($px_size) {
  font-size: ($px_size / 16) * 1rem;
}

@mixin lh($px_size) {
  line-height: ($px_size / 16) * 1rem;
}

body {
  font-family: sans-serif;
  @include fz(16);
  @include lh(20);
  color: $color-font;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a, button {
  transition: all .2s ease;
}

.container {
  width: min(90%, 1400px);
  margin: 0 auto;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
.box {
  width: 300px;
  height: 300px;
  background: tomato;
  animation: spin 2s linear infinite;
}
.btn {
  height: 60px;
  line-height: 60px;
  background-color: #48bbd8;
  color: #fff;
  position: relative;
  font-size: 22px;
  border-radius: 30px;
  padding: 0 30px;
  border: none;
  min-width: 250px;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  &::before {
    content: '';
    display: block;
    width: 300px;
    height: 300px;
    background-color: #1a7a92;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    top: 80px;
    transition: all 1.5s ease;
    animation: spin 3s linear infinite;
  }
  &:hover {
    &::before {
      top: -50px;
      z-index: -1;
    }
  }
}
input[type=text] {
  height: 60px;
  border: 2px solid gray;
  border-radius: 10px;
  width: 400px;
  &:focus {
    animation: shake .5s ease 1;
  }
}


.loader {
  width: 50px;
  height: 50px;
  border-top: 5px solid #ea54fa;
  border-right: 5px solid #d43be6;
  border-bottom: 5px solid #ac19bc;
  border-left: 5px solid #63126c;
border-radius: 50%;
animation: spin 1s linear infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
} 
  

@keyframes spin {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
section {
  height: 100vh;
}