/* lato-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato/lato-v23-latin-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato/lato-v23-latin-700.woff2") format("woff2"), url("../fonts/lato/lato-v23-latin-700.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-display-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/red/red-hat-display-v14-latin-regular.woff2") format("woff2"), url("../fonts/red/red-hat-display-v14-latin-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-display-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/red/red-hat-display-v14-latin-500.woff2") format("woff2"), url("../fonts/red/red-hat-display-v14-latin-500.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-display-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/red/red-hat-display-v14-latin-600.woff2") format("woff2"), url("../fonts/red/red-hat-display-v14-latin-600.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body {
  background-color: #fff;
  color: #565656;
  font-size: 1rem;
  line-height: 1.6875rem;
  font-weight: 400;
  font-family: "Lato";
  letter-spacing: 0.05rem;
}

.header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: #fff;
  padding: 21px 0;
  min-height: 100px;
  border-bottom: 1px solid #EFEEF3;
}
.header .header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  padding: 15px 0;
  color: #000;
}
.header .header-wrap .logo img, .header .header-wrap .search img {
  vertical-align: middle;
}
.header .header-wrap .logo {
  margin-top: -5px;
}
.header .header-wrap .search {
  cursor: pointer;
  margin-top: -5px;
}
.header .header-wrap .menu-search {
  display: flex;
  align-items: center;
  gap: 80px;
}
.header .header-wrap .menu-search nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
.header .header-wrap .menu-search nav ul li a {
  font-size: 0.875rem;
  line-height: 1.05rem;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease;
  color: #000;
}
.header .header-wrap .menu-search nav ul li a::after {
  content: "";
  display: block;
  width: 70%;
  height: 1px;
  position: relative;
  top: 0;
  left: 0;
  background-color: transparent;
  transform: translateX(16%);
}
.header .header-wrap .menu-search nav ul li a:hover::after {
  background-color: #000;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

.banner-text {
  position: absolute;
  left: 50%;
  top: 295px;
  transform: translate(-50%, -75%);
}
@media screen and (max-width: 900px) {
  .banner-text {
    top: 164px;
  }
}

.section-content {
  padding: 45px 0;
}
.section-content.banner {
  padding-top: 100px;
}
.section-content h1, .section-content h2 {
  color: #000;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 600;
  font-family: "Red Hat Display";
}
.section-content h1 {
  letter-spacing: 0.15rem;
}
.section-content h2 {
  font-weight: 400;
  letter-spacing: 0.15rem;
  margin-bottom: 50px;
}
.section-content h3 {
  font-size: 1.75rem;
  line-height: 2.905rem;
  letter-spacing: 0.21rem;
  margin-top: -1px;
  margin-bottom: 43px;
}
.section-content .mb-50 {
  margin-bottom: 50px;
}
.section-content .horizontal-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.section-content .horizontal-wrap.rtl {
  flex-direction: row-reverse;
}
.section-content .horizontal-wrap.rtl .horizontal-info {
  margin-right: 20px;
}
.section-content .horizontal-wrap .horizontal-info {
  flex-basis: 50%;
  padding-left: 15px;
  padding-bottom: 10px;
  max-width: 460px;
}
.section-content .horizontal-wrap .horizontal-info .sup-title {
  letter-spacing: 0.1rem;
  color: #7B7B7B;
  margin-bottom: 24px;
}
.section-content .horizontal-wrap .horizontal-info .main-title {
  color: #000;
  font-size: 1.4375rem;
  line-height: 2.375rem;
  font-weight: 500;
  font-family: "Red Hat Display";
  letter-spacing: 0.143rem;
  margin-bottom: 8px;
}
.section-content .horizontal-wrap .horizontal-info .date {
  line-height: 1.5975rem;
  color: #7B7B7B;
  letter-spacing: 0.12rem;
  margin-bottom: 50px;
}
.section-content .horizontal-wrap .horizontal-info .description a {
  font-weight: 400;
  font-family: "Lato";
  color: #565656;
  font-size: 1rem;
  line-height: 1.5975rem;
  letter-spacing: 0.05rem;
  text-decoration: none;
}
.section-content .horizontal-wrap .horizontal-info .description a::after {
  content: "";
  background: url(../images/Arrow.svg) 0 0 no-repeat;
  width: 26px;
  height: 12px;
  display: inline-block;
  margin-left: 16px;
  transition: all 0.2s ease;
}
@media screen and (max-width: 900px) {
  .section-content .horizontal-wrap .horizontal-info .description a::after {
    transform: translateY(2px);
  }
}
.section-content .horizontal-wrap .horizontal-info .description a:hover {
  color: #7B7B7B;
}
.section-content .horizontal-wrap .horizontal-info .description a:hover::after {
  transform: translateX(5px);
}
.section-content .wrap-big .vertical-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
.section-content .wrap-big .vertical-wrap .post-wrap {
  flex-basis: 33%;
}
.section-content .wrap-big .vertical-wrap .post-wrap.w-big {
  flex-basis: 50%;
}
.section-content .wrap-big .vertical-wrap .post-wrap.w-big .sub-info {
  margin-bottom: 20px;
}
.section-content .wrap-big .vertical-wrap .post-wrap.w-big .post-wrap-title {
  letter-spacing: 0.21rem;
  line-height: 2.5rem;
}
.section-content .wrap-big .vertical-wrap .post-wrap .vertical-img {
  max-height: 260px;
  overflow: hidden;
  margin-bottom: 25px;
}
.section-content .wrap-big .vertical-wrap .post-wrap .sub-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #7B7B7B;
  font-size: 0.75rem;
  line-height: 1.245rem;
  letter-spacing: 0.07rem;
  margin-bottom: 26px;
}
.section-content .wrap-big .vertical-wrap .post-wrap .post-wrap-title {
  font-family: "Red Hat Display";
  font-size: 1.375rem;
  line-height: 2.2825rem;
  font-weight: 500;
  letter-spacing: 0.135rem;
  margin-bottom: 15px;
}
.section-content .wrap-big .btn-wrap {
  text-align: center;
  margin-top: 2px;
}
.section-content .wrap-big .btn-wrap .btn {
  background-color: #565656;
  border: 1px solid #565656;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5975rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 9px 42px;
  transition: all 0.2s ease;
  margin-top: 3px;
}
@media screen and (max-width: 900px) {
  .section-content .wrap-big .btn-wrap .btn {
    margin-top: 18px;
    margin-left: 6px;
  }
}
.section-content .wrap-big .btn-wrap .btn:hover {
  background-color: #fff;
  color: #565656;
}
.section-content .view {
  position: relative;
  margin-bottom: 25px;
}
.section-content .view-all {
  position: absolute;
  top: 5px;
  right: 0;
}
.section-content .view-all a {
  font-weight: 400;
  font-family: "Lato";
  color: #565656;
  font-size: 1rem;
  line-height: 1.5975rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: capitalize;
}
.section-content .view-all a::after {
  content: "";
  background: url(../images/Arrow.svg) 0 0 no-repeat;
  width: 26px;
  height: 12px;
  display: inline-block;
  margin-left: 18px;
  margin-right: -2px;
  transition: all 0.2s ease;
}
.section-content .view-all a:hover {
  color: #7B7B7B;
}
.section-content .view-all a:hover::after {
  transform: translate(5px, 0);
}
.section-content .additional-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 40px;
}
.section-content .additional-content .additional-item {
  flex-basis: 40%;
}
.section-content .additional-content .additional-item a {
  font-family: "Red Hat Display";
  color: #000;
  font-size: 1.4375rem;
  line-height: 2.38625rem;
  font-weight: 400;
  letter-spacing: 0.145rem;
  text-decoration: none;
}
@media screen and (max-width: 585px) {
  .section-content .additional-content .additional-item a {
    font-size: 1.5rem;
    line-height: 2.49rem;
  }
}
.section-content .additional-content .additional-item a::after {
  content: "";
  background: url(../images/Arrow.svg) 0 0 no-repeat;
  width: 26px;
  height: 12px;
  display: block;
  transform: translateY(14px);
  transition: all 0.2s ease;
}
.section-content .additional-content .additional-item a:hover {
  color: #7B7B7B;
}
.section-content .additional-content .additional-item a:hover::after {
  transform: translate(5px, 0);
}
.section-content .additional-content .additional-item p {
  font-size: 1.1875rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  margin-bottom: 32px;
}
.section-content.prev-footer {
  padding: 19px 0;
}

.popular {
  padding-top: 20px;
}

.footer {
  background-color: #F4F4F4;
  padding: 70px 0 30px 0;
}
.footer .first-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.footer .first-row .left-col, .footer .first-row .right-col {
  flex-basis: 50%;
}
.footer .first-row .left-col .footer-title {
  font-family: "Red Hat Display";
  color: #000;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 400;
  letter-spacing: 0.145rem;
  margin-bottom: 25px;
}
.footer .first-row .left-col .footer-tel {
  margin-bottom: 13px;
}
.footer .first-row .left-col a {
  font-family: "Lato";
  color: #000;
  font-size: 1rem;
  line-height: 1.5975rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-decoration: none;
  margin-bottom: 15px;
}
.footer .first-row .left-col a:hover {
  color: #7B7B7B;
}
.footer .copyright {
  text-align: center;
  font-family: "Lato";
  color: #000;
  font-size: 0.75rem;
  line-height: 1.245rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.footer .social-links {
  display: flex;
  gap: 23px;
  justify-content: flex-end;
  padding-top: 3px;
}
.footer .social-links li {
  list-style: none;
  width: 50px;
  height: 50px;
  background-color: #F4F4F4;
  border: 1px solid #565656;
  position: relative;
}
.footer .social-links li:hover {
  background-color: #565656;
}
.footer .social-links li a svg {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.footer .social-links li a path {
  fill: #565656;
}
.footer .social-links li a:hover path {
  fill: #F4F4F4;
}

.hamb-wrap {
  display: none;
}

#mobile-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 60%;
  background: #fff;
  color: #000;
  transform: translateX(-100%);
  transition: all 0.4s ease;
  z-index: 100;
}
#mobile-sidebar.open {
  transform: translateX(0);
}

.mob-menu {
  padding-top: 3px;
}
.mob-menu ul li {
  font-size: 0.875rem;
  line-height: 1.05rem;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid rgba(213, 213, 213, 0.7);
}
.mob-menu ul li a {
  text-decoration: none;
  transition: all 0.2s ease;
  color: #000;
}
.mob-menu ul li a:hover {
  color: #ccc;
}

#shadow {
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(4);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  width: 100%;
  height: 100%;
  display: none;
}
#shadow.show {
  display: block;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 0;
    min-height: unset;
  }
  .header .header-wrap {
    padding: 0;
  }
  .header .header-wrap .menu-search {
    display: none;
  }
  .header .hamb-wrap {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .section-content {
    padding: 35px 0;
  }
  .section-content.popular {
    padding: 0;
    margin-top: -20px;
  }
  .section-content.banner {
    padding-top: 60px;
  }
  .section-content h1 {
    font-size: 2.25rem;
    line-height: 3.125rem;
    letter-spacing: 0.11rem;
  }
  .section-content h2 {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.15rem;
    margin-bottom: 50px;
  }
  .section-content h3 {
    font-size: 1.75rem;
    line-height: 2.905rem;
    letter-spacing: 0.21rem;
    margin-top: -1px;
    margin-bottom: 43px;
  }
  .section-content .horizontal-wrap .horizontal-info {
    flex-basis: 82%;
    padding-left: 8px;
    padding-bottom: 0;
  }
  .section-content .horizontal-wrap .horizontal-info .date {
    margin-bottom: 37px;
  }
  .section-content .horizontal-wrap.rtl .horizontal-info {
    margin-right: 0;
    margin-left: -10px;
  }
  .section-content .view-all {
    top: 9px;
    right: -10px;
  }
  .section-content .wrap-big .vertical-wrap {
    flex-direction: column;
    gap: 8px;
  }
  .section-content .wrap-big .vertical-wrap .post-wrap {
    display: flex;
    gap: 20px;
  }
  .section-content .wrap-big .vertical-wrap .post-wrap.wrap-reverse {
    flex-direction: row-reverse;
  }
  .section-content .wrap-big .vertical-wrap .post-wrap.wrap-reverse .post-info {
    padding-left: 0;
  }
  .section-content .wrap-big .vertical-wrap .post-wrap .vertical-img, .section-content .wrap-big .vertical-wrap .post-wrap .post-info {
    flex-basis: 50%;
    max-height: 240px;
  }
  .section-content .wrap-big .vertical-wrap .post-wrap .post-info {
    padding-left: 6px;
  }
  .section-content .wrap-big.row-tab {
    padding-top: 5px;
  }
  .section-content .wrap-big.row-tab .vertical-wrap {
    flex-direction: row;
    gap: 8px;
  }
  .section-content .wrap-big.row-tab .vertical-wrap .big-r {
    padding-left: 5px;
  }
  .section-content .wrap-big.row-tab .vertical-wrap .post-wrap.w-big .post-wrap-title {
    letter-spacing: 0.135rem;
    line-height: 2.25rem;
    margin-bottom: 21px;
  }
  .section-content .wrap-big.row-tab .vertical-wrap .vertical-img {
    min-height: 160px;
    margin-bottom: 20px;
  }
  .section-content .additional-content {
    flex-direction: column;
    padding-top: 24px;
    gap: 60px;
  }
  .section-content .additional-content .additional-item p {
    text-align: right;
    margin-bottom: 19px;
  }
  .section-content .additional-content .additional-item.add-r {
    align-self: flex-end;
    width: 90%;
  }

  .footer {
    padding: 40px 0 30px;
  }
  .footer .first-row {
    flex-direction: column;
    text-align: center;
    padding-left: 10px;
    gap: 46px;
    margin-bottom: 42px;
  }
  .footer .first-row .left-col .footer-title {
    margin-bottom: 21px;
  }
}
@media screen and (max-width: 585px) {
  .header .hamb-wrap {
    gap: 15px;
  }

  .banner-text {
    top: 280px;
  }

  .section-content {
    padding: 35px 0;
  }
  .section-content.popular {
    padding: 0;
    margin-top: -20px;
  }
  .section-content.banner {
    padding-top: 60px;
  }
  .section-content .banner-img .img-wrapper {
    height: 500px;
    width: auto;
    object-fit: contain;
    overflow: hidden;
  }
  .section-content .banner-img .img-wrapper img {
    min-height: 500px;
    width: auto;
    transform: translateX(-36%);
  }
  .section-content h1 {
    font-size: 1.875rem;
    line-height: 3.125rem;
    letter-spacing: 0.11rem;
  }
  .section-content h2 {
    letter-spacing: 0.15rem;
    margin-bottom: 50px;
    text-align: center;
  }
  .section-content h3 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: 0.115rem;
    margin-top: -1px;
    margin-bottom: 43px;
  }
  .section-content .horizontal-wrap {
    flex-direction: column-reverse;
  }
  .section-content .horizontal-wrap.rtl {
    flex-direction: column-reverse;
  }
  .section-content .horizontal-wrap .horizontal-info .sup-title {
    margin-bottom: 30px;
  }
  .section-content .horizontal-wrap .horizontal-info .main-title {
    font-size: 1.375rem;
    line-height: 2.2825rem;
    margin-bottom: 11px;
  }
  .section-content .horizontal-wrap .horizontal-info .description {
    margin-bottom: 23px;
  }
  .section-content .view-all {
    top: 47px;
    right: unset;
    left: 0px;
  }
  .section-content .wrap-big {
    padding-top: 26px;
  }
  .section-content .wrap-big .vertical-wrap {
    gap: 48px;
  }
  .section-content .wrap-big .vertical-wrap .post-wrap {
    flex-direction: column;
  }
  .section-content .wrap-big .vertical-wrap .post-wrap.wrap-reverse {
    flex-direction: column;
  }
  .section-content .wrap-big .vertical-wrap .post-wrap .vertical-img {
    margin-bottom: 8px;
  }
  .section-content .wrap-big .vertical-wrap .post-wrap .post-info {
    padding-left: 0;
  }
  .section-content .wrap-big .vertical-wrap .post-wrap .post-info .sub-info {
    font-size: 1rem;
    line-height: 1.66rem;
    letter-spacing: 0.07rem;
  }
  .section-content .wrap-big.row-tab {
    padding-top: 26px;
  }
  .section-content .wrap-big.row-tab .vertical-wrap {
    flex-direction: column;
    gap: 40px;
  }
  .section-content .wrap-big.row-tab .vertical-wrap.mb-50 {
    margin-bottom: 32px;
  }
  .section-content .wrap-big.row-tab .vertical-wrap .vertical-img {
    margin-bottom: -2px;
  }
  .section-content .wrap-big.row-tab .vertical-wrap .big-r {
    padding-left: 0;
  }
  .section-content .wrap-big.row-tab .vertical-wrap .big-r .vertical-img {
    margin-bottom: -4px;
  }
  .section-content .wrap-big.row-tab .vertical-wrap .post-wrap .w-big .post-wrap-title {
    margin-bottom: 10px;
  }
  .section-content .wrap-big.row-tab .vertical-wrap .post-wrap .w-big .sub-info {
    font-size: 1rem;
    line-height: 1.66rem;
    letter-spacing: 0.07rem;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .section-content .additional-content {
    gap: 40px;
  }
  .section-content .additional-content .additional-item p {
    font-size: 1.125rem;
    line-height: 2rem;
    margin-bottom: 19px;
    text-align: left;
  }
  .section-content .additional-content .additional-item.add-r {
    align-self: flex-end;
    width: 100%;
  }
  .section-content.popular {
    margin-top: 8px;
  }

  .footer {
    padding: 44px 0 30px;
  }
  .footer .first-row {
    padding-left: 10px;
    gap: 37px;
    margin-bottom: 42px;
  }
  .footer .first-row .left-col .footer-title {
    font-size: 2rem;
    line-height: 2.64625rem;
    letter-spacing: 0.09rem;
    margin-bottom: 22px;
  }
  .footer .first-row .left-col a {
    font-size: 1.125rem;
    line-height: 1.8675rem;
    letter-spacing: 0.1rem;
  }
  .footer .copyright {
    font-size: 1rem;
    line-height: 1.66rem;
    letter-spacing: 0.06rem;
  }
}