/* lato-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato/lato-v24-latin-300.woff2") format("woff2"), url("../fonts/lato/lato-v24-latin-300.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/lato-v24-latin-regular.woff2") format("woff2"), url("../fonts/lato/lato-v24-latin-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato/lato-v24-latin-700.woff2") format("woff2"), url("../fonts/lato/lato-v24-latin-700.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato/lato-v24-latin-900.woff2") format("woff2"), url("../fonts/lato/lato-v24-latin-900.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/playfair/playfair-display-v30-latin-regular.woff2") format("woff2"), url("../fonts/playfair/playfair-display-v30-latin-regular.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/playfair/playfair-display-v30-latin-italic.woff2") format("woff2"), url("../fonts/playfair/playfair-display-v30-latin-italic.woff") format("woff");
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 300;
  color: #262A3F;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a, button {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

button {
  border: 0;
  background-color: unset;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: -125px;
}

.topper {
  height: 30px;
}

header {
  min-height: 80px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.5)), color-stop(24.1%, rgba(255, 255, 255, 0.244636)), color-stop(47.19%, rgba(255, 255, 255, 0))), rgba(255, 255, 255, 0.02);
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
  padding: 22px 0;
}
header.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
header .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 80px;
}
header .logo {
  width: 107.2px;
  height: auto;
}
header a {
  margin-left: 0;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 29px;
}
.main-menu ul a {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #262A3F;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
}
.main-menu ul a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  background-color: #F1897B;
  bottom: -6px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main-menu ul a:hover::after, .main-menu ul a.active::after {
  width: 100%;
}

.hamb-wrap {
  display: none;
}

.hamburger {
  display: none;
}

.mint {
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #85BBB1;
}

.section {
  padding: 58px 0 38px 0;
}

/*-====================Section-First====================-*/
.section-first {
  background-image: url("../images/first-bg.jpg");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 274px;
  padding-bottom: 60px;
}
.section-first .banner-text {
  max-width: 525px;
  margin-bottom: 150px;
}
.section-first .banner-text .h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 3.25rem;
  font-weight: 400;
  color: #262A3F;
  margin-bottom: 20px;
}
.section-first .additional-text {
  padding-right: 20px;
  margin-bottom: 48px;
}
.section-first .statistic {
  position: relative;
}
.section-first .photo-block .block-img {
  width: 48.89%;
}
.section-first .photo-block .block-img img {
  aspect-ratio: 57/67;
}
.section-first .outer {
  max-width: 66%;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 45px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.section-first .outer .left-column {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 80px;
  padding: 0 50px;
}
.section-first .outer .left-column .item {
  text-align: center;
  min-width: 260px;
  position: relative;
}
.section-first .outer .left-column .item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #85BBB1;
  bottom: -40px;
}
.section-first .outer .left-column .item .item-title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 4.25rem;
  line-height: 4.5rem;
  margin-bottom: 12px;
}
.section-first .outer .left-column .item .item-title .curr {
  font-size: 2.5rem;
  line-height: 3.125rem;
  color: #E4E4E4;
  padding-right: 10px;
}

.right-column {
  max-width: 51.94%;
  padding-left: 4px;
}

.column-text {
  padding-bottom: 20px;
}
.column-text p {
  margin-bottom: 30px;
}

.btn-link a, .btn-link button {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #F1897B;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn-link a::after, .btn-link button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 13px;
  left: 10px;
  background-color: #F1897B;
  bottom: -2px;
  opacity: 0.3;
}
.btn-link a:hover, .btn-link a.active, .btn-link button:hover, .btn-link button.active {
  color: #E54F3A;
}
.btn-link a:hover::after, .btn-link a.active::after, .btn-link button:hover::after, .btn-link button.active::after {
  background-color: #E54F3A;
}

/*-====================#Section-First====================-*/
/*-====================Section-Second====================-*/
.benefits {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  justify-items: start;
  -ms-grid-rows: 1fr 34px 1fr;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template: 1fr 1fr/1fr 1fr;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 34px;
}

.benefit-item {
  border-top: 1px solid #E4E4E4;
  padding: 50px 30px 20px 34px;
}
.benefit-item .ben-title {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.benefit-item .ben-content {
  margin-bottom: 30px;
}

/*-====================#Section-Second====================-*/
/*-====================Section-Third====================-*/
.dark-bg {
  background-color: #262A3F;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 100px;
  color: #fff;
}
.dark-bg .bg-quote {
  padding-top: 30px;
  padding-left: 60px;
  position: relative;
}
.dark-bg .bg-quote svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.dark-bg .d-quote {
  max-width: 710px;
}
.dark-bg .d-quote p {
  font-size: 2rem;
  line-height: 2.875rem;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin-bottom: 42px;
}
.dark-bg figcaption {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.08em;
  margin-bottom: 30px;
}

/*-====================#Section-Third====================-*/
/*-====================Section-Fourth====================-*/
.section-fourth, .section-fifth, .section-six {
  padding: 82px 0 38px;
}

.video-container {
  width: min(90%, 970px);
}

.video-wrap {
  padding: 31px 70px 31px 30px;
  border: 1px solid #E4E4E4;
  border-radius: 32px;
  position: relative;
  margin-bottom: 51px;
}
.video-wrap::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border: 1px solid #E4E4E4;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 8px;
}
.video-wrap::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border: 1px solid #E4E4E4;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 14px;
}
.video-wrap iframe {
  aspect-ratio: 870/532;
  border-radius: 8px;
}

.section-details .section-title {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 400;
  margin-bottom: 25px;
}
.section-details p {
  max-width: 880px;
}

/*-====================#Section-Fourth====================-*/
/*-====================#Section-Fifth====================-*/
.two-blocks {
  position: relative;
}

.left-col {
  width: 51.28%;
}

.white-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 24% 1fr;
  -ms-grid-columns: 1fr 15% 1fr;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  row-gap: 24%;
  -webkit-column-gap: 15%;
  -moz-column-gap: 15%;
  column-gap: 15%;
  padding: 6.41% 0 8.41% 5.98%;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-5.2%, -50%);
  -ms-transform: translate(-5.2%, -50%);
  transform: translate(-5.2%, -50%);
  right: 0;
}
.white-block .white-item {
  min-width: 300px;
}
.white-block .white-item .btn-link {
  border: 1px solid #e4e4e4;
  padding: 30px 0;
  width: 100%;
  max-width: 300px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.white-block .white-item .btn-link:hover {
  border-color: #E54F3A;
}
.white-block .white-item .btn-link:hover button {
  color: #E54F3A;
}
.white-block .white-item .btn-link:hover button::after {
  background-color: #E54F3A;
}
.white-block .white-item .btn-link button {
  border: 0;
  background: unset;
  cursor: pointer;
  margin-left: -8px;
}
.white-block .item-title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 3rem;
  margin-bottom: 4px;
}
.white-block .item-info {
  margin-top: 9px;
}

.mt-14 {
  margin-top: 14px;
}

/*-====================#Section-Fifth====================-*/
/*-====================Section-Six====================-*/
.reviews .section-details {
  max-width: 400px;
  margin-bottom: 50px;
}
.reviews .section-details .section-title {
  margin-bottom: 20px;
}

.reviews-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
}

.review-item {
  background-color: #262A3F;
  aspect-ratio: 37/34;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  position: relative;
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
}
.review-item::after {
  content: "";
  background-color: rgba(25, 28, 41, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.review-item .item-text, .review-item .item-name {
  z-index: 1;
}
.review-item .item-text {
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 400;
}
.review-item .item-name {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-style: italic;
  letter-spacing: 0.08em;
  text-align: left;
}

/*-====================#Section-Six====================-*/
/*-====================Section-Seven====================-*/
.section-seven {
  margin-bottom: 21px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
  border-top: 1px solid #e4e4e4;
  padding-top: 42px;
  padding-bottom: 40px;
}
.contacts .section-details {
  padding-top: 38px;
}
.contacts .section-details, .contacts .form-block {
  max-width: 470px;
}
.contacts .form-block {
  overflow: hidden;
  width: 100%;
  padding-top: 13px;
}
.contacts .form-block .form-element {
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}
.contacts .form-block .form-element label {
  position: absolute;
  top: 9px;
  left: 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-style: italic;
  letter-spacing: 0.08em;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contacts .form-block textarea {
  overflow: hidden;
}
.contacts .form-block input[type=text],
.contacts .form-block input[type=email],
.contacts .form-block textarea {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-style: italic;
  letter-spacing: 0.08em;
  border: 0;
  height: 32px;
  border-bottom: 1px solid #e4e4e4;
  padding: 12px;
  width: 100%;
}
.contacts .form-block input[type=text]:focus + label,
.contacts .form-block input[type=email]:focus + label,
.contacts .form-block textarea:focus + label {
  top: -15px;
  border: 0;
  color: #E54F3A;
}
.contacts .form-block input[type=text]:not(:-moz-placeholder-shown) + label,
.contacts .form-block input[type=email]:not(:-moz-placeholder-shown) + label,
.contacts .form-block textarea:not(:-moz-placeholder-shown) + label {
  top: -15px;
  font-size: 1rem;
  border: 0;
  color: #E54F3A;
}
.contacts .form-block input[type=text]:not(:-ms-input-placeholder) + label,
.contacts .form-block input[type=email]:not(:-ms-input-placeholder) + label,
.contacts .form-block textarea:not(:-ms-input-placeholder) + label {
  top: -15px;
  font-size: 1rem;
  border: 0;
  color: #E54F3A;
}
.contacts .form-block input[type=text]:not(:placeholder-shown) + label,
.contacts .form-block input[type=email]:not(:placeholder-shown) + label,
.contacts .form-block textarea:not(:placeholder-shown) + label {
  top: -15px;
  font-size: 1rem;
  border: 0;
  color: #E54F3A;
}
.contacts .form-block input[type=text]:focus,
.contacts .form-block input[type=email]:focus,
.contacts .form-block textarea:focus {
  outline: 0 none;
  border-bottom: 1px solid #E54F3A;
}

/*-====================#Section-Seven====================-*/
/*-====================Footer====================-*/
.footer-container {
  border-top: 1px solid #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.875rem;
  color: rgba(38, 42, 63, 0.6);
  padding: 30px 0;
  gap: 30px;
}
.footer-container a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #262A3F;
  letter-spacing: 0.08em;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer-container a:hover {
  color: rgba(38, 42, 63, 0.6);
}

.left-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
}

/*-====================#Footer====================-*/
/*-=========#Dark====================-*/
.dark body {
  color: rgba(255, 255, 255, 0.8);
  background-color: #10131a;
}
.dark body .mint {
  color: #689FF2;
}
.dark body .mob-menu {
  padding-top: 20px;
}
.dark body .mob-menu ul li {
  border-bottom: 1px solid rgba(213, 213, 213, 0.7);
}
.dark body .mob-menu ul li a::after {
  background-color: #53F3CD;
}
.dark body .main-menu ul a {
  color: #fff;
}
.dark body .main-menu ul a::after {
  background-color: #53F3CD;
}
.dark body .section-first {
  background-image: url("../images/first-screen-image-invert.jpg");
}
.dark body .section-first .h1 {
  color: #fff;
}
.dark body .section-first .outer {
  background-color: rgba(22, 25, 38, 0.8);
}
.dark body .btn-link a, .dark body .btn-link button {
  color: #53F3CD;
}
.dark body .btn-link a::after, .dark body .btn-link button::after {
  background-color: #53F3CD;
}
.dark body .btn-link a:hover, .dark body .btn-link a.active, .dark body .btn-link button:hover, .dark body .btn-link button.active {
  color: #02E0AB;
}
.dark body .btn-link a:hover::after, .dark body .btn-link a.active::after, .dark body .btn-link button:hover::after, .dark body .btn-link button.active::after {
  background-color: #02E0AB;
}
.dark body .bg-quote svg {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.dark body .video-wrap {
  border: 1px solid #515773;
}
.dark body .video-wrap::before {
  border: 1px solid #515773;
}
.dark body .video-wrap::after {
  border: 1px solid #515773;
}
.dark body .white-block {
  background-color: rgba(22, 25, 38, 0.8);
}
.dark body .white-block .white-item .btn-link:hover {
  border-color: #02E0AB;
}
.dark body .white-block .white-item .btn-link:hover button {
  color: #02E0AB;
}
.dark body .white-block .white-item .btn-link:hover button::after {
  background-color: #02E0AB;
}
.dark body .contacts, .dark body .footer-container {
  border-top: 1px solid #515773;
}
.dark body .form-block input[type=text],
.dark body .form-block input[type=email],
.dark body .form-block textarea {
  border-bottom: 1px solid #e4e4e4;
  background-color: transparent;
  color: #fff;
}
.dark body .form-block input[type=text]:focus + label,
.dark body .form-block input[type=email]:focus + label,
.dark body .form-block textarea:focus + label {
  color: #02E0AB;
}
.dark body .form-block input[type=text]:not(:-moz-placeholder-shown) + label,
.dark body .form-block input[type=email]:not(:-moz-placeholder-shown) + label,
.dark body .form-block textarea:not(:-moz-placeholder-shown) + label {
  color: #02E0AB;
}
.dark body .form-block input[type=text]:not(:-ms-input-placeholder) + label,
.dark body .form-block input[type=email]:not(:-ms-input-placeholder) + label,
.dark body .form-block textarea:not(:-ms-input-placeholder) + label {
  color: #02E0AB;
}
.dark body .form-block input[type=text]:not(:placeholder-shown) + label,
.dark body .form-block input[type=email]:not(:placeholder-shown) + label,
.dark body .form-block textarea:not(:placeholder-shown) + label {
  color: #02E0AB;
}
.dark body .form-block input[type=text]:focus,
.dark body .form-block input[type=email]:focus,
.dark body .form-block textarea:focus {
  border-bottom: 1px solid #02E0AB;
}
.dark body .footer-container {
  color: rgba(255, 255, 255, 0.6);
}
.dark body .footer-container a {
  color: #fff;
}
.dark body .footer-container a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.dark body .left-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
}
.dark .outer .left-column .item:not(:last-child)::after {
  background-color: #689FF2;
  bottom: -40px;
}

/*-=========#Dark====================-*/
.mb-30 {
  margin-bottom: 30px;
}

@media screen and (max-width: 1212px) {
  .reviews-block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .reviews-block .review-item {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }
}
@media screen and (max-width: 1024px) {
  #section-first .outer {
    max-width: 100%;
    top: 50%;
  }
  #section-first .outer .left-column {
    gap: 50px;
  }
  #section-first .outer .left-column .item .item-title {
    font-size: 3rem;
    line-height: 3.25rem;
  }
  #section-first .outer .left-column .item:not(:last-child)::after {
    bottom: -35px;
  }
}
@media screen and (max-width: 991px) {
  .reviews-block .review-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    aspect-ratio: unset;
  }
  .reviews-block .review-item .item-text {
    margin-bottom: 20px;
  }

  .footer-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  main {
    margin-top: -60px;
  }

  header {
    min-height: 60px;
    padding: 0;
  }

  .main-menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamb-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
  }
  .hamb-wrap #mobile-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 60%;
    background: #fff;
    color: #000;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 100;
  }
  .hamb-wrap #mobile-sidebar.open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .hamb-wrap .mob-menu {
    padding-top: 20px;
  }
  .hamb-wrap .mob-menu ul li {
    letter-spacing: 0.24rem;
    text-transform: capitalize;
    padding: 20px 45px;
    border-bottom: 1px solid rgba(213, 213, 213, 0.7);
  }
  .hamb-wrap .mob-menu ul li a {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #262A3F;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
  }
  .hamb-wrap .mob-menu ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    background-color: #F1897B;
    bottom: -10px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .hamb-wrap .mob-menu ul li a:hover::after, .hamb-wrap .mob-menu ul li a.active::after {
    width: 100%;
  }
  .hamb-wrap #shadow {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(4);
    backdrop-filter: blur(4);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    width: 100vw;
    height: 100vh;
    display: none;
  }
  .hamb-wrap #shadow.show {
    display: block;
  }

  .topper {
    display: none;
  }

  .section {
    padding: 30px 0;
  }

  .section-first {
    padding-top: 200px;
    padding-bottom: 0;
  }

  #section-first .photo-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #section-first .photo-block .block-img {
    width: 100%;
  }
  #section-first .banner-text {
    margin-bottom: 80px;
  }
  #section-first .outer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    position: static;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  #section-first .right-column {
    max-width: 100%;
    text-align: center;
  }
  #section-first .right-column .btn-link {
    text-align: center;
  }

  .benefits {
    -ms-grid-rows: minmax(230px, auto) 30px minmax(230px, auto) 30px minmax(230px, auto) 30px minmax(230px, auto);
    -ms-grid-columns: 1fr;
    grid-template: repeat(4, minmax(230px, auto))/1fr;
    row-gap: 30px;
  }
  .benefits .benefit-item {
    text-align: center;
    padding: 20px;
  }
  .benefits .benefit-item .ben-title {
    font-size: 1.875rem;
    line-height: 2.375rem;
  }

  .dark-bg {
    padding: 30px;
  }
  .dark-bg .d-quote p {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  .dark-bg figcaption {
    font-size: 1rem;
    line-height: 1rem;
  }

  .left-col {
    width: 100%;
  }

  .white-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 10% 1fr 10% 1fr 10% 1fr;
    -ms-grid-columns: 1fr;
    grid-template: repeat(4, 1fr)/1fr;
    row-gap: 10%;
    min-width: 70%;
    padding: 0;
    position: static;
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    text-align: center;
  }
  .white-block .white-item .btn-link {
    display: inline-block;
  }

  .section-fifth {
    margin-bottom: 135px;
  }

  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contacts .section-details, .contacts .form-block {
    min-width: 100%;
  }

  .section-six {
    padding-top: 70px;
  }
}