* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #39c;
}
.container {
    width: min(90%, 1200px);
    margin: 0 auto;
}
.wrapper {
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200,1fr));
    /* grid-template-rows: repeat(4, 147px); */
    gap: 4px;
    padding: 4px;

    background-color: #fff;
}
.box {
    background-color: lightblue;
    height: 147px;/*tilky dla prykladu*/
    align-self: center;
    justify-self: center;
}
.card {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
}
.top {
    position: absolute;
    width: 100%;
    padding: 0 20px;
    top: 20px;
    display: flex;
    justify-content: space-between;
}

/* .w50 {
    grid-column: span 2;
}
.w100 {
    grid-column: span 4;
}
@media (max-width: 800px) {
    .wrapper {
        grid-template-columns: repeat(2,1fr);
    }
    .w50 {
        grid-column: span 1;
    }
    .w100 {
        grid-column: span 2;
    }
}

@media (max-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
    .w100 {
        grid-column: span 1;
    }
} */